section(id="about" data-speed="4" data-type="background")
  .container
    h3.text-center #[i.fa.fa-hand-spock-o] who dis?#[span#blink _]
    .row
      .col-md-4
        p #[i.fa.fa-hand-rock-o] We are &lt;/#[code no tags]&gt; , a web development studio based in Moscow (Russia), and we are fluent in several languages:
        ul.list-unstyled
          li #[i.devicon-javascript-plain.colored] JavaScript
          li #[i.devicon-ruby-plain.colored] Ruby
          li #[i.devicon-html5-plain.colored] HTML5
          li #[i.devicon-css3-plain.colored] CSS3
          li #[i.devicon-sass-original.colored] Sass
      .col-md-4
        p #[i.fa.fa-hand-paper-o] All of our code is handcrafted following TDD and BDD best practices. Some of the technologies used at the studio:
        ul.list-unstyled
          li #[i.devicon-rails-plain-wordmark.colored] Ruby on Rails
          li #[i.devicon-nodejs-plain.colored] Node.js
          li #[i.devicon-react-original.colored] React.js
          li #[i.devicon-meteor-plain.colored] Meteor.js
      .col-md-4
        p #[i.fa.fa-hand-scissors-o] When delivering a Web Application, maximize cross-browser compatibility is one of our main goals:
        ul.list-unstyled
          li #[i.devicon-chrome-plain.colored] Google Chrome
          li #[i.devicon-firefox-plain.colored] Mozilla Firefox
          li #[i.devicon-apple-plain] Safari
          li #[i.devicon-ie10-original.colored] Internet Explorer
     
