section(id="branding" data-speed="4" data-type="background")
  .branding
    .container
      h1.text-center.animated.rubberBand &lt;&sol;#[code no tags]&gt;
      h2.lead.text-center.animated.bounceInLeft Web Development Studio
