footer
  .container
    .row
      // Social and Address
      .col-md-2
        h3 #[i.fa.fa-beer] Being social
        .row.social
          .col-md-4
            i.fa.fa-twitter-square
          .col-md-4
            i.fa.fa-github-square
        .row.social
          .col-md-4
            i.fa.fa-facebook-square
          .col-md-4
            i.fa.fa-skype
        .row.address
          h3 #[i.fa.fa-home] Our address:
          address
            strong &lt;&sol;no tags&gt;, Inc.
            br
            | 1355 Market Street, Suite 900
            br
            | San Francisco, CA 94103
            br
            abbr(title="Phone")
            | #[span.glyphicon.glyphicon-phone-alt]  (123) 456-7890

      // Map
      .col-md-6
        h3 #[i.fa.fa-map-marker] Come visit us!
        //- #map: img.img-responsive(src='images/map.png')
        div(class="embed-responsive embed-responsive-16by9")
          iframe(class="embed-responsive-item" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=metro%20sokol&zoom=10&key=AIzaSyCkhpsSmWQL832RP0GSTTmX2k8IZA6-eDg" allowfullscreen)

      .col-md-4
        h3 #[i.fa.fa-comment] Hit me up
        form.form-horizontal
          .form-group
            label(for="InputName") Name
            input(type="text" class="form-control" id="InputName" placeholder="Your name")
          .form-group
            label(for="InputPhone") Phone
            input(type="text" class="form-control" id="InputPhone" placeholder="Your digits")
          .form-group
            label(for="InputEmail") Email
            input(type="email" class="form-control" id="InputEmail" placeholder="Email")
          .form-group
            label(for="comment") Tell me more...
            textarea(class="form-control" id="comment" placeholder="Let it out...")
    .copyright
      p.text-center #[b &lt;&sol;no tags&gt;]  &copy; 2015-2016
