section#portfolio.gallery
  .container
    .row
      each val in ['slate', 'flatly', 'darkly', 'cosmo', 'superhero', 'cerulean']
        div.col-sm-6.col-md-4
          .thumbnail
            img(src="images/#{val}.png" alt="#{val}")
            .caption
              h4.pull-right #{val}.com
              p:a(href="#" class="btn btn-primary" role="button") Live!
