nav.navbar.navbar-inverse
  .container
    .navbar-header
      a.navbar-brand(href="/") &lt;&sol;#[code no tags]&gt;

    .navbar-right
      ul.nav.navbar-nav
        li: a(href="#who-dis") About Us
        li: a(href="#portfolio") Our Work
