section(id="who-dis" data-speed="4" data-type="background")
  .container
    h2 #[i.fa.fa-hand-spock-o] who dis?
    p 
    |&lt; #[code no tags] &gt; is a web development studio based 
    |on #[input(placeholder="your city here")]
    p We specialized on:
    ul
      li JavaScript
      li Ruby on Rails
      li Test/Behaviour Driven Development.
     
