extends ./layouts/main.jade

block content
  include ./partials/branding.jade
  
  include ./partials/who-dis.jade
  
  include ./partials/portfolio.jade
  
  include ./partials/after-portfolio.jade

  include ./partials/footer.jade
