extends ./layouts/main.jade

block content

  include ./partials/navbar.jade

  include ./partials/branding.jade
  
  include ./partials/about.jade
  
  include ./partials/portfolio.jade

  include ./partials/footer.jade
